{% extends 'smsapp/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
<!-- page specific css -->
{% block stylesheets %}
{% endblock %}


{% block main_content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Add New Student</h4>
            </div>
            <div class="card-body">
                    <form action="" method="post" id= "ID" section_list="{% url 'smsapp:dropdown_section_student' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row-form-group">
                            <div class="col-md-8 offset-md-2">
                             
                                {{ form.name|as_crispy_field }}
                            </div>
                        
                            <div class="col-md-8 offset-md-2">
                                {{ form.roll_no|as_crispy_field }}
                            </div>
                            <div class="col-md-8 offset-md-2">
                                {{ form.gender|as_crispy_field }}
                            </div>
                            <div class="col-md-8 offset-md-2">
                                {{ form.current_class|as_crispy_field }}
                            </div>
                            <div class="col-md-8 offset-md-2">
                                <label for="sectionSelect">Select Section* </label>
                            {% render_field form.current_section id="sectionSelect" name="sectionSelect" class="form-control" %}
                            </div>
                        </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary float-right"> Submit</button>
            </div>
                    </form>
        </div>
    </div>
</div>
{% endblock %}



{% block messages %}
{% endblock %}

<!-- page specific js -->

{% block javascript %}
<script>
<!--section selection dropdown list -->
$("#id_current_class").change(function () {
    var myurl = $("#ID").attr("section_list");
    var ClickedItemId = $(this).val();

    $.ajax({
      url: myurl,
      data: {
        'current_class': ClickedItemId
      },
      success: function (data) {
        $("#sectionSelect").html(data);
      }
    });

  });

</script>
{% endblock %}